<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Pharma.Properties.Settings.ConnectionString" connectionString="Data Source=(local);Initial Catalog=Spareparts;Integrated Security=false;user id=sa;pwd=;"
            providerName="System.Data.SqlClient" />
        <add name="Pharma.Properties.Settings.SparepartsConnectionString"
            connectionString="Data Source=(local);Initial Catalog=Spareparts;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>